body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {    
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.journal-form {
    margin-top: -20px;
}

.journal-form h2 {
    margin-bottom: 15px;
}

.journal-form form {
    display: flex;
    flex-direction: column;
}
#images{
    padding: 0.3rem;
    text-align: center;
}

#images image{
    max-height: 20vh;
    max-width: 20vw;
}

.journal-info {
    display: flex;
    gap: 6px;
    align-items: center; 
    flex-wrap: wrap;
}

.journal-info input[type="date"],
.journal-info input[type="number"] {
    width: 120px; 
}

.journal-info select {
    width: 160px; 
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.buttons button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #555;
}

select[disabled] {
    border:none; 
    color:black;
    opacity: 1;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }