/* global css */
body{
    padding:0;
    margin:0;
    background-color: #F3F3F3;
    font-family:'Helvetica', Times, serif
}
header{
    padding:0;
    margin:0;
}
/* Add these classes to components for the styles to apply */
.careButton{
    background-color: #333333;
    width: fit-content;
    padding: 0.7rem;
    color: white;
    font-size: 1.4rem;
    border-radius: 5px;

    font-weight: 500;
    line-height: 18px;
    text-align: center;
    

}
.careSearch{
    padding: 5px;
}
.shadow{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}
.rounded{
    border-radius: 10px;
}


/* Login specific css */

.loginDiv{
    position: absolute;
    width: 35rem;
    height: 35rem;
    top: 50%;
    margin-top: -17.5rem;
    left:50%;
    margin-left: -17.5rem;
    background-color: white;

}
.loginTitle{
    font-weight: bold;
    font-size: 2rem;;
    color:#333333;
}
.loginFormItem{
    color:#333333;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}
.loginInput{
    font-size: 1.2rem;
    padding: 0.6rem 0.8rem;
    width: 100%;
    border-radius: 5px;
    border: 1.5px solid #333333;

}
.loginInput:focus{
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
}

#loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loginForm label{
    width: 60%;
}
#loginButton{
    width: 40%;
    left:30%;

    margin-top: 3rem;
}

#loginButton:hover{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

#loginButton:active{
    box-shadow: 0px 0px 15px 0px rgb(192, 149, 40);
}