* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #fafafa;
    
}

.main{
    margin: 20px auto;
    width: 90%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.history_table {
    width: 100%;
}
th, td {

    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #EBEBEB;

}
.history_table th:last-child {
    text-align: right;
}
.history_table td:last-child {
    text-align: right; 
}